@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono";
}

body {
  font-size: 10px;
  background-color: #c5e4e7;
}

button:hover {
  cursor: pointer;
}

.logo {
  display: block;
  width: 90px;
  margin: 0 auto;
  padding: 4em 0;
}

main {
  background-color: white;
  border-radius: 15px;
  width: 100%;
}

form {
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-flex: 100px;
      -ms-flex: 100px;
          flex: 100px;
}

form .form-container:not(.result) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

form .form-container:not(.result) > div .people__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form .form-container:not(.result) > div .people__container .error {
  color: #e05252;
}

form label {
  font-size: 1rem;
  font-weight: 700;
  color: #5e7a7d;
}

form .bill-text {
  background: url(images/icon-dollar.svg) no-repeat 15px center;
  background-color: #f4fafa;
}

form .people-text {
  background: url(images/icon-person.svg) no-repeat 15px center;
  background-color: #f4fafa;
}

form input {
  border: none;
  border-radius: 5px;
  background-color: #f4fafa;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: right;
  color: #00494d;
}

form input.error {
  border: 2px solid #e05252;
}

form input::-webkit-input-placeholder {
  color: #5e7a7d;
}

form input:-ms-input-placeholder {
  color: #5e7a7d;
}

form input::-ms-input-placeholder {
  color: #5e7a7d;
}

form input::placeholder {
  color: #5e7a7d;
}

form input:focus {
  outline-color: #26c0ab;
}

form .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (49%)[2];
      grid-template-columns: repeat(2, 49%);
  width: 100%;
  gap: 1em;
}

form .grid button {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0;
  background-color: #00494d;
}

form .grid button.active {
  background-color: #26c0ab;
  color: #00494d;
}

form .grid button:hover {
  background-color: #26c0ab;
}

form .result {
  background-color: #00494d;
  border-radius: 15px;
  padding: 3em;
  gap: 2em;
}

form .result__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .result__text {
  font-weight: 700;
}

form .result__text--main {
  color: white;
  font-size: 1rem;
}

form .result__text--secondary {
  color: #7f9c9f;
  font-size: 0.8rem;
}

form .result__number {
  font-weight: 700;
  font-size: 2.2rem;
  color: #26c0ab;
  position: relative;
}

form .result button {
  padding: 0.25em;
  border: none;
  border-radius: 5px;
  background-color: #26c0ab;
  font-size: 1.5rem;
  font-weight: 700;
  color: #00494d;
}

form .result button:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media (min-width: 850px) {
  .logo {
    padding: 10vh 0;
  }
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 850px;
    margin: 0 auto;
  }
  form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 1000px) {
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 1000px;
    margin: 0 auto;
  }
  form .grid {
    -ms-grid-columns: (30.5%)[3];
        grid-template-columns: repeat(3, 30.5%);
  }
  form .result {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=index.css.map */